@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

body {
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 26px !important;
  font-weight: bold !important;
}

.company-name {
  color: #5900ff;
  font-weight: 600;
}

.main-hero {
  height: 100%;
  background-image: url(../img/hero_image.jpeg);
  background-position: 0px 0px;
  background-size: auto;
}

.hero-slogan {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  padding: 20% 25% 20% 60px;
  backdrop-filter: blur(3px);
}

.heading {
  margin-top: 40px;
  padding-left: 60px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 26px;
  line-height: 35px;
  font-weight: 600;
  text-align: left;
}

.technologies-section span {
  font-weight: bold;
}

.technologies-section-title {
  font-weight: bold;
}

.projects-container .project {
  background-color: #141414;
}

.projects-container .project .project-description {
  color: #929292;
}

#team .foto-img-wrapper {
  background-color: #ff8622;
  padding: 20px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 2000px;
}

#team .foto-img {
  max-height: 200px;
  width: 160px;
  height: 160px;
  background: url(../img/foto.png) center no-repeat;
  border-radius: 2000px;
  background-size: 80%;
}

#team .team-member {
  background-color: #141414;
}

.opinion {
  background-color: #141414;
}

@media screen and (min-width: 768px) {
  .projects-container .project {
    width: 45%;
  }
  #team .team-member {
    width: 45%;
  }

  .opinion {
    width: 31%;
  }
}

.opinion .opinion-foto-wrapper {
  background-color: #4268ff;
  width: 40px;
  height: 40px;
  border-radius: 2000px;
}

.opinion .opinion-foto {
  width: 40px;
  height: 40px;
  background: url(../img/foto.png) center no-repeat;
  border-radius: 2000px;
  background-size: 70%;
}

.opinion-author-profession {
  color: #5900ff;
}

label {
  display: block;
  color: #929292;
}

.form-text-field {
  height: 50px;
  padding: 8px 12px;
  background-color: #161616;
  outline: 1.5px solid #5900ff;
}

.submit-button {
  font-weight: 500;
  background-color: #5900ff !important;
}

.text-gray p {
  color: #929292;
}

.text-gray {
  color: #929292;
}

.text-purple {
  color: #5900ff;
}

@media screen and (min-width: 1440px) {
  #technologies.tech-stack {
    max-width: 1200px;
  }
}
